<div id="t" class="card">
    <div class="card-header">
      <h2>apropos</h2>
    </div>
    <div class="card-body">
      <p class="card-text">Bourns, Inc. est l'un des principaux fabricants et fournisseurs de capteurs automobiles, de solutions de protection de circuits, de produits magnétiques, de modules microélectroniques, de potentiomètres de réglage et de précision, de commandes et d'encodeurs de panneaux et de produits résistifs.

        Basée à Riverside, en Californie, Bourns dessert un large éventail de marchés, notamment les télécommunications, l'informatique, l'industrie, l'instrumentation, l'automobile, le grand public, les soins médicaux non critiques, l'audio et divers autres segments de marché.</p>
      
    </div>
    <div class="card-footer">
      <a href="" class="btn btn-primary">retour</a>
    </div>
  </div>