<div class="titre">
    <h2>ESPACE PRODUITS </h2>
 </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <div class="bouton">
    <a routerLink="/Magasin" class="btn">AJOUTER des P.M</a>
    <a routerLink="/Electronic" class="btn">AJOUTER des P.E</a>
 </div>
 <div id="carouselExample" class="carousel slide">
   <div class="carousel-inner">
     <div class="carousel-item active">
       <img src="assets/x.jpg" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="assets/z.jpg" class="d-block w-100" alt="...">
     </div>
     <div class="carousel-item">
       <img src="assets/y.jpg" class="d-block w-100" alt="...">
     </div>
   </div>
   <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Previous</span>
   </button>
   <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
     <span class="carousel-control-next-icon" aria-hidden="true"></span>
     <span class="visually-hidden">Next</span>
   </button>
 </div>
 <br>
 <iframe  width="1250" height="500" src="https://www.youtube.com/embed/6x1p9jzJwI4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
 <br>
 <br>
 <br>
 
 <div id="slide" class="carousel slide container w-75">
     <ol class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="carousel-item active">
           <img src="assets/1.gif" alt="" class="w-100">
        </div>
        <div class="carousel-item" >
           <img src="assets/2.jpg" alt="" class="w-100">
        </div>
        <div class="carousel-item active">
           <img src="assets/k.png" alt="" class="w-100">
        </div>
     </div>
  </div>
  <div id="f" >
    
         <h2 class="btn btn-lg">
          <a href="https://www.kaschke.de/40-jahre-40-years-kaschke-components-tunisie/">40 Jahre – 40 Years Kaschke Component Tunisie</a></h2>
         <div id="k" class=""><div><p>The roots of Kaschke Components Tunisie (KCT) stretch back to the year 1979.<br> At the time,<br> Kaschke was already a significant supplier to Europe’s consumer electronics industry.<br> Increasing pressure from coonsumer electronics industry. Increasing pressure from competitors
              </div><h2 class="btn btn-lg"><a href="https://www.kaschke.de/40-jahre-40-years-kaschke-components-tunisie/">mehr lesen</a></h2></div></div>	
             <app-footer></app-footer>
 
 
 
     
     
 
 
 