<!-- Remove the container if you want to extend the Footer to full width. -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Mate
rial+Icons" rel="stylesheet">


<footer
    class="text-center text-lg-start text-white"
    style="background-color:rgb(1, 0, 0)"
    >
<!-- Grid container -->
<div class="container p-4 pb-0">
<!-- Section: Links -->
<section class="">
  <!--Grid row-->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
      <h5 class="text-uppercase mb-4 font-weight-bold" style="text-decoration: underline;"><strong>Nos produits</strong></h5>
              <p>
                <a class="text-white">Produits de Magasin</a>
              </p>
              <p>
                <a class="text-white">Produits Electronic</a>
              </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h5 class="text-uppercase mb-4 font-weight-bold" style="text-decoration: underline;"><strong>Contact</strong></h5>
              <p><i class='fas fa-map-marker-alt' style='font-size:24px'></i>
                 Zaghouan</p>
              <p><i class="material-icons" style="font-size:24px">mail</i>
                fedimbarekabidi@gmail.com
</p>
              <p>
                <i class="fa fa-phone" style="font-size:24px"></i>
                + 216 97648051</p>
              <p><i class="fa fa-phone" style="font-size:24px"></i> 
                + 216 70241250</p>
                <i class="material-icons" style="font-size:36px">link</i><a class="text-white" href="https://www.facebook.com/fedi.mbarek/">
                  Notre page officielle </a>
            </div>
<div class="text-center p-3" class="partfinal" style="background-color:rgba(0, 0, 0, 0.2)">
           Tous Droits Resérvés <span class="glyphicon glyphicon-registration-mark"></span></div>
          </div>
          </section>
          </div>
          </footer>
          
        